.container {
  padding: 24px 32px;

  max-width: 1110px;
  margin: 80px auto 0 auto;
  margin-top: 67px;
  padding: 0 16px;
  display: flex;
  flex-direction: column; 
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 2;
}

.card {
  display: flex;
  max-width: 597px;
  height: 218px;
  border: 2px solid #007bff;
  border-radius: 12px;
  padding: 16px;
  background: white;
  align-items: center;
  gap: 16px;
}

.image {
  width: 146px;
  height: auto;
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fd
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.controls button {
  width: 24px;
  height: 24px;
  border: none;
  background: #FFA542;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.right {
  text-align: right;
}

.delete {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

.summary {
  background: white;
  border-radius: 16px;
  padding: 24px;
  min-width: 240px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
}

.checkout {
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
