@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(0, 0, 0,);
  background-color: #EAEAEA;


}

