@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(239,242,250);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: black;
}

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

div.u-AhunterSuggestions  {
  max-width: 499px !important;
  min-width: 2px !important ;
  padding: 8px 0 !important;
  font-size: 14px !important;
  background-color: white !important;
  color: #333 !important;
  border: 1px solid #005fcc !important;
  border-radius: 0 0 6px 6px;
  border-top: none !important;
}

div.u-AhunterSuggestions div {
  padding: 4px 8px !important;
}

div.u-AhunterSuggestions div:hover {
  background-color: #f5f5f5 !important;
}
