/* src/components/DashboardLayout/DashboardLayout.module.css */
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}
.main {
  flex: 1;
  display: flex;
  gap: 24px;
  padding: 24px;

}
