.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.categoryTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 20px;
  color: #838383;
}
