/* src/components/CourseList/CourseList.module.css */
.wrapper {
  overflow-x: auto;
  padding-bottom: 8px;
  scroll-snap-type: x mandatory;
}
.scroll {
  display: flex;
  gap: 16px;
  flex-direction: column;
  mw
}
