.courseListContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  padding: 16px;
  scroll-snap-type: x mandatory;
}

.courseListContainer::-webkit-scrollbar {
  height: 8px;
}

.courseListContainer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
