/* src/components/CourseCard.module.css */
.card {
  min-width: 200px;
  ma
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  scroll-snap-align: start;
  background: #fff;
}

.card:hover {
  transform: scale(1.03);
}

.image {
  width: 100%;
  height: 140px;
  object-fit: cover;
}