/* src/components/Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: rgb(95,77,170);
  align-items: center;
  color: #ffffff;
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  
}

.actions {
  display: flex;
  gap: 12px;
}

.link {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}
