/* src/components/CreateCourse/CreateCourse.module.css */
.main {
  display: flex;

}

.wrapper {
  padding: 40px;
  background: #82a6f3;
  height: 750px;
  min-width: 800px;
  border-radius: 20px;
}

.title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.left,
.right {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.uploadBox {
  width: 100px;
  height: 100px;
  background: #ddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.uploadBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input,
.textarea,
.fullText {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.textarea {
  resize: vertical;
  height: 80px;
}

.fullText {
  flex: 1;
  resize: vertical;
  min-height: 90%;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.groupList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.groupItem {
  font-size: 14px;
}

.createBtn {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  background: #ffa542;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.groupTagInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.tag button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
}

.leftBlock {
  flex: 1;
  background: #82a6f3;
  padding: 20px;
  border-radius: 12px;
  margin-left: 30px;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.courseCard {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseImage {
  width: 100%;
  height: 100px;
  background: #ccc;
  object-fit: cover;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  
  max-width: 700px;
}

.popupContent p {
  margin: 0;
  ws
}