.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 10px;

  transition: background 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
}

.scrolled {
  background: rgba(255, 255, 255, 0.137); /* фон появляется */
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* остальная часть оставляется без изменений */

.icons {
  display: flex;
  gap: 45px;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 25px;

}
.iconWrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.iconImage {

  width: 100%;
  height: auto;
  display: block;
}

.badge {
  position: absolute;
  top: -6px;
  right: -9px;
  background-color: #FFA542;
  color: white;
  font-size: 10px;
  font-weight: bold;

  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  height: 16px;
  line-height: 1;
}
