.wrapper {
  display: 'flex';
  gap: '24px';
}

.container{
  flex: 2;
  display: 'flex';
  flex-direction: column;
  gap: '16px';
}

.title {
  text-align: /* stylelint-disable rule */
  /* stylelint-enable rule */;
}